body {
	font-family: Arial, monospace;
	background-color: whitesmoke;
	padding: 5px;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.good {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.blogBlock {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	gap: 10px;
}

.blogBlock::after {
	content: '';
	width: 416px;
}

.blog {
	border-style: solid;
	border-radius: 10px;
	border-color: #210753;
	background-color: rgba(4, 185, 245, 0.103);
	width: 400px;
	padding: 5px;
	word-wrap: break-word;
	font-size: large;
}
.blog-buttons {
	display: flex;
	flex-direction: row;
}

.blog-button {
	color: black;
	backface-visibility: hidden;
	border-radius: 0.375rem;
	border-style: solid;
	border-color: #210753;
	border-radius: 3px;
	padding: 3px;
	font-weight: 400;
	font-size: 15px;
	height: 28px;
}

.general-button {
	background: #fff;
	margin-right: 7px;

}

.delete-button {
	background: rgba(216, 13, 13, 0.363);
	margin-left: auto;
}

.form-container {
	width: 200px;
	clear: both;
}

.form-container input {
	width: 100%;
	clear: both;
	margin: 5px 0px 5px;
}

.form-container button {
	color: black;
	background: #fff;
	backface-visibility: hidden;
	border-radius: 0.375rem;
	border-style: solid;
	border-color: #210753;
	margin: 7px 7px 0px 0px;
	border-radius: 3px;
	padding: 3px;
	font-weight: 400;
	font-size: 15px;
}

.container {
	width: 200px;
	clear: both;
}

.container p {
	margin-bottom: 0px;
}

.container button {
	color: black;
	background: #fff;
	backface-visibility: hidden;
	border-radius: 0.375rem;
	border-style: solid;
	border-color: #210753;
	margin-top: 7px;
	border-radius: 3px;
	padding: 3px;
	font-weight: 400;
	font-size: 15px;
}

.container button:hover,
.form-container button:hover,
.general-button:hover {
	background-color: rgba(62, 205, 252, 0.1);
	backface-visibility: hidden;
}

.delete-button:hover {
	background: rgba(216, 13, 13, 0.25);
	backface-visibility: hidden;
}
